################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/CrudApi/FileContentIndex/45c832d4-f7ce-4a8d-9aa9-a901a2da7fe1.vsidx
